.rectangulo1 {
  width: 100%;
  height: 20px;
  left: calc(50% - 1024px / 2);
  top: 0px;
  background: #222222;
}
.rectangulo2 {
  width: 100%;
  height: 62px;
  left: calc(50% - 1024px / 2);
  top: 20px;

  background: #f0a83e;
}
h1 {
  width: 100%;
  text-align: center;
}
.imagen {
  width: 100%;
  height: 409px;
}
